.inputGroup
{
    text-align: left;
    margin: 0px;
    margin-top: 13px;
}

.inputGroupMilestones
{
    padding: 7px
}

.endDateInputLight
{
    border-bottom: 0px !important;
}
.endDateInputDark
{
    border-bottom: 0px !important;
}

.countdownMilestonesInputs
{
    position: relative;
    display: flex;
    flex-flow: row;
    border-radius: 4px;
    width: calc(100% - 14px);
    margin: auto;
    margin-top: 7px;
    overflow: hidden;
}
.milestoneNameAndDateInputs
{
    flex: 1 1 auto
}
.milestoneNameAndDateInputs input
{
    width: 70%;
}
.milestoneNotesInputs
{
    flex: 1 1 auto;
    width: auto !important;
}
.milestoneNotesInputsLight
{
    border-bottom: 1px solid white !important;
    border-left: 1px solid lightgrey
}
.milestoneNotesInputsDark
{
    border-bottom: 1px solid rgb(67, 67, 67) !important;
    border-left: 1px solid rgb(111, 111, 111)
}
.milestoneNotesInputs input, .milestoneNotesInputs textarea
{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    resize: none;
    font-size: 10pt;
    top: calc(50% - 1px);
    width: calc(100% - 11px);
    box-sizing: border-box;
    height: calc(100% - 11px);
    left: 5px
}

.milestoneDateInputsLight
{
    border-bottom: 1px solid white !important;
}
.milestoneDateInputsDark
{
    border-bottom: 1px solid rgb(67, 67, 67) !important;
}

.lastItem
{
    border-bottom: 0px !important
}

.editHeaders
{
    font-size: 10pt;
    color: gray;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
#countdownValuesEditHeader
{
    padding: 9px;
}

#addDeleteMilestoneButtons
{
    margin-top: 35px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

#addMilestoneButton
{
    margin-bottom: 7px;
}

#addMilestoneButton div
{
    text-align: center !important;
}

#deleteMilestoneButton
{
    margin-bottom: 7px;
    text-align: center;
}

.greyedOutMilestone
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
    visibility: hidden;
    opacity: 0%;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.5)
}

.greyedOutMilestone div
{
    position: absolute;
    width: 38px;
    height: 38px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.greyedOutMilestone img
{
    height: 100%
}

#exportCountdownInput, #errorDialogInput
{
    overflow: scroll;
    margin-bottom: 6px;
    margin-top: 6px;
    padding: 5px;
    word-wrap: break-word;
    max-height: 200px;
}

#errorDialogUL
{
    padding-left: 15px;
}

#errorDialogUL li
{
    margin-bottom: 10px;
}

@media only screen and (min-width: 1000px)
{
    .milestoneInputs
    {
        position: relative;
        width: 100%;
        height: 72px;
        overflow: hidden;
        margin-top: 7px;
        border-radius: 4px
    }
}
@media only screen and (max-width: 999px)
{
    .milestoneInputs
    {
        position: relative;
        width: 100%;
        height: 84px;
        overflow: hidden;
        margin-top: 7px;
        border-radius: 4px
    }
}
.milestoneInputsLight
{
    color: black;
    background-color: white;
    border: 1px solid #c2c2c2;
    box-sizing: border-box;
}
.milestoneInputsDark
{
    color: white;
    background-color: rgb(67, 67, 67);
    border: 1px solid rgb(111, 111, 111);
    box-sizing: border-box;
}
.nameAndDate
{
	position: absolute;
	left: 0px;
	width: 50%;
	height: 100%
}
.notes
{
	position: absolute;
	left: 50%;
	width: 50%;
	height: 100%;
	padding: 6px;
	box-sizing: border-box;
	padding-left: 0px
}

.nameInput, .dateInput
{
	position: relative;
	height: 50%;
	padding: 6px;
	box-sizing: border-box
}
.dateInput
{
	padding-top: 3px
}
.dateInput span
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10px
}
.nameInput
{
	padding-bottom: 3px
}
.nameInput span
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10px
}

@media only screen and (min-width: 1000px)
{
    .milestoneTextbox
    {
        display: block;
        width: 70%;
        height: 100%;
        min-width: 70%;
        min-height: 100%;
        appearance: none;
        box-sizing: border-box;
        float: right;
        font-family: sans-serif;
        font-size: 11pt
    }
}
@media only screen and (max-width: 999px)
{
    .milestoneTextbox
    {
        display: block;
        width: 70%;
        height: 100%;
        min-width: 70%;
        min-height: 100%;
        appearance: none;
        box-sizing: border-box;
        float: right;
        font-family: sans-serif;
        font-size: 16px
    }
}
.milestoneTextboxLight
{
    color: #000;
    background-color: #fff;
    border: 1px solid rgb(150,150,150);
    border-radius: 0px;
    box-shadow: inset 0 1px 1px rgba(169, 169, 169, 0.7);
}
.milestoneTextboxDark
{
    color: #fff;
    background-color: rgb(67, 67, 67);
    border: 1px solid rgb(205, 205, 205);
    box-shadow: inset 0 1px 2px rgba(175, 175, 175, 0.7);
    border-radius: 0px;
}

@media only screen and (min-width: 1000px)
{
    .milestoneTextarea
    {
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 0px;
        resize: none;
        font-family: sans-serif;
        font-size: 11pt;
        padding: 4px;
    }
}
@media only screen and (max-width: 999px)
{
    .milestoneTextarea
    {
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 0px;
        resize: none;
        font-family: sans-serif;
        font-size: 16px;
        padding: 4px;
    }
}
.milestoneTextareaLight
{
    color: #000;
    background-color: #fff;
    border: 1px solid rgb(150,150,150);
    border-radius: 0px;
    box-shadow: inset 0 1px 1px rgba(169, 169, 169, 0.7);
}
.milestoneTextareaDark
{
    color: #fff;
    background-color: rgb(67, 67, 67);
    border: 1px solid rgb(205, 205, 205);
    box-shadow: inset 0 1px 2px rgba(175, 175, 175, 0.7);
    border-radius: 0px
}